<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.cdd.mapi.base.dao.IBaseDao">

    <select id="getCiytList" resultType="City">
		select id,name,en_name as enName,province_id as provinceId from t_city order by sort_id;
	</select>
	
	<select id="getProvinceList" resultType="Province">
		select id,name from t_province order by sort_id;
	</select>
	
	<select id="getMemberLevelList" resultType="MemberLevel">
		select id,name,score_range_start as scoreRangeStart,score_range_end as scoreRangeEnd from t_level order by sort_id;
	</select>
	
	<select id="getScoreRuleList" resultType="ScoreRule">
		select id,type,score from t_score_rule;
	</select>
	
	<select id="getForumItemList" resultType="ForumItem">
		select id,name from t_forum_item;
	</select>
	
	<select id="getExamItemList" resultType="ExamItem">
		select id,name from t_exam_item;
	</select>
	
	<select id="getNoticeList" resultType="SysNotice" parameterType="int">
		<![CDATA[
			select * 
			from 
				t_sys_notice 
			where 
				type = #{type} and start_time <= now() and end_time >= now();
		]]>
	</select>
	
	<select id="getVersionList" resultType="VersionInfo">
        select * from t_update_info
    </select>
    
    <insert id="addPushMsg" parameterType="java.util.List">
        insert into t_push_msg 
 			(member_id,msg,device_no,status,create_time) 
 		values
 		<foreach collection="list" item="item" index="index" separator=",">
 			(#{item.memberId},#{item.msg},#{item.deviceNo},0,now())
 		</foreach>
	 	<selectKey resultType="int" keyProperty="id" order="AFTER">  
  			SELECT LAST_INSERT_ID() as id
  		</selectKey>  
    </insert>
    
    <update id="updatePushMsgSuccessStatus" parameterType="java.util.List">
    	update t_push_msg set status = 1
    	where id in 
    	<foreach collection="list" open="(" close=")" item="item" index="index" separator=",">
    		#{item}
    	</foreach>
    </update>
    
    <update id="updatePushMsgFailStatus" parameterType="java.util.List">
    	update t_push_msg set status = 2
    	where id in 
    	<foreach collection="list" open="(" close=")" item="item" index="index" separator=",">
    		#{item}
    	</foreach>
    </update>
    
    <select id="getPushMsgList" resultType="PushMessage">
    	select 
    		id,
    		member_id as memberId,
    		msg,
    		device_no as deviceNo,
    		status,
    		DATE_FORMAT(create_time,'%Y-%m-%d %T') as createTime 
    	from 
    		t_push_msg
    	where status != 1
    	order by create_time
    	limit 0,500
    </select>
	
</mapper> 
