<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.cdd.mapi.base.dao.IBaseDao">

    <select id="getCiytList" resultType="City">
		select id,name,en_name as enName,province_id as provinceId from t_city order by sort_id;
	</select>
	
	<select id="getProvinceList" resultType="Province">
		select id,name from t_province order by sort_id;
	</select>
	
	<select id="getMemberLevelList" resultType="MemberLevel">
		select id,name,score_range_start as scoreRangeStart,score_range_end as scoreRangeEnd from t_level order by sort_id;
	</select>
	
	<select id="getScoreRuleList" resultType="ScoreRule">
		select id,type,score from t_score_rule;
	</select>
	
	<select id="getForumItemList" resultType="ForumItem">
		select id,name from t_forum_item;
	</select>
	
	<select id="getExamItemList" resultType="ExamItem">
		select id,name from t_exam_item;
	</select>
	
</mapper> 
