<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
	<mapper namespace="com.cdd.mapi.forum.dao.IForumDao">
		<insert id="addSubject" parameterType="ForumSubject">
	 		insert into t_forum_question 
	 			(title,content,member_id,status,item_id,sub_item_id,anonymous,create_time,modify_time) 
	 		values
	 			(#{title},#{content},#{memberId},0,#{itemId},#{subItemId},#{anonymous},now(),now())
		 	<selectKey resultType="int" keyProperty="id" order="AFTER">  
	  			SELECT LAST_INSERT_ID() as id
	  		</selectKey>  
	 	</insert>
	 	
	 	<insert id="addAnswer" parameterType="ForumAnswer">
	 		insert into t_forum_answer 
	 			(content,member_id,status,question_id,create_time,modify_time,anonymous) 
	 		values
	 			(#{content},#{memberId},0,#{subjectId},now(),now(),#{anonymous})
		 	<selectKey resultType="int" keyProperty="id" order="AFTER">  
	  			SELECT LAST_INSERT_ID() as id
	  		</selectKey>  
	 	</insert>
	 	
	 	<insert id="addPhotos" parameterType="Map">
	 	    insert into t_forum_photo 
	 			(url,question_id,answer_id,create_time) 
	 		values
	 		<foreach collection="photos" item="photo" index="index" separator=",">
	 		    (#{photo},#{subjectId},#{answerId},now())
	 		</foreach>
	 	</insert>
	 	
	 	<resultMap type="ForumSubjectVO" id="getForumSubjectByIdResultMap">
	 	    <id column="id" property="id"/>
	 	    <result column="title" property="title"/>
	 	    <result column="content" property="content"/>
	 	    <result column="likeCount" property="likeCount"/>
	 	    <result column="shareCount" property="shareCount"/>
	 	    <result column="favoriteCount" property="favoriteCount"/>
	 	    <result column="anonymous" property="anonymous"/>
	 	    <result column="createTime" property="createTime"/>
	 	    <result column="itemId" property="itemId"/>
	 	    <result column="subItemId" property="subItemId"/>
	 	    <result column="memberName" property="memberName"/>
	 	    <result column="photo" property="memberPhoto"/>
	 	    <result column="memberId" property="memberId"/>
	 	    <collection property="photos" column="question_id" ofType="ForumPhoto">
	 	        <id column="fpId" property="id"/>
	 	        <result column="url" javaType="String" property="url"/>
	 	    </collection>
	 	</resultMap>
	 	
	 	<select id="getForumSubjectById" parameterType="int" resultMap="getForumSubjectByIdResultMap">
	 		select 
	 			q.id,
	 			q.title,
	 			q.content,
	 			q.like_count as likeCount,
	 			q.share_count as shareCount,
	 			q.favorite_count as favoriteCount,
	 			q.anonymous,
	 			DATE_FORMAT(q.create_time,'%Y-%m-%d %T') as createTime,
	 			q.item_id as itemId,
	 			q.sub_item_id as subItemId,
	 			m.name as memberName,
	 			m.photo,
	 			m.id as memberId,
	 			fp.url,
	 			fp.question_id,
	 			fp.id as fpId
	 		from 
	 			t_forum_question q 
	 		left join 
	 			t_member m 
	 		on 
	 			q.member_id = m.id and q.anonymous = 0 
	 		left join t_forum_photo fp
	 		on
	 			q.id = fp.question_id
	 		where 
	 			q.id = #{id};
	 	</select>
	 	
	 	<insert id="addForumAffiliated" parameterType="ForumAffiliatedInfo">
	 		insert into t_forum_affiliated_info 
	 			(member_id,answer_id,question_id,type,create_time,status) 
	 		values
	 			(#{memberId},#{answerId},#{questionId},#{type},now(),0)
		 	<selectKey resultType="int" keyProperty="id" order="AFTER">  
	  			SELECT LAST_INSERT_ID() as id
	  		</selectKey>  
	 	</insert>
	 	
	 	<update id="updateSubjectLikeCount" parameterType="int">
	 	    update t_forum_question set like_count = like_count + 1,modify_time = now() where id = #{subjectId}
	 	</update>
	 	
	 	<update id="updateSubjectFavCount" parameterType="int">
	 	    update t_forum_question set favorite_count = favorite_count + 1,modify_time = now() where id = #{subjectId}
	 	</update>
	 	
	 	<update id="updateSubjectShareCount" parameterType="int">
	 	    update t_forum_question set share_count = share_count + 1,modify_time = now() where id = #{subjectId}
	 	</update>
	 	
	 	<update id="updateAnswerLikeCount" parameterType="int">
	 	    update t_forum_answer set like_count = like_count + 1,modify_time = now() where id = #{answerId}
	 	</update>
	 	
	 	<select id="findForumAffiliatedInfo" parameterType="ForumAffiliatedInfo" resultType="int">
	 	    select count(id) from t_forum_affiliated_info 
	 	    where member_id = #{memberId} and type = #{type}
	 	    <if test="answerId != null"> and answer_id = #{answerId}</if>
	 	    <if test="questionId != null"> and question_id = #{questionId}</if>
	 	</select>
	</mapper> 
